.PostMarkdownContainer h3,
.PostMarkdownContainer h4,
.PostMarkdownContainer h5,
.PostMarkdownContainer h6 {
    font-family: var(--fonte-secundaria);
}

.PostMarkdownContainer h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.PostMarkdownContainer h4 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.PostMarkdownContainer p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.PostMarkdownContainer a {
    color: #0493d4;
    text-decoration: underline;
}

.PostMarkdownContainer img {
    display: block;
    margin: 0 auto;
}

.PostMarkdownContainer ul {
    font-size: 1.5rem;
}

.PostMarkdownContainer ul > li {
    margin-bottom: 1rem;
    list-style: disc;
}

.PostMarkdownContainer pre,
.PostMarkdownContainer blockquote {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #eaeaea;
    border-radius: 5px;
}

.PostMarkdownContainer pre {
    overflow-x: auto;
}

@media (max-width: 1100px) {
    .PostMarkdownContainer p {
        margin-bottom: 2rem;
    }
}

@media (max-width: 744px) {
    .PostMarkdownContainer h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .PostMarkdownContainer p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

.tituloOutrosPosts {
    font-family: var(--fonte-secundaria);
    color: #363031;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.postsRecomendados {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}